h1, h2 {
  text-align: center;
  color: #440047;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  padding-top: 10vh;
  background-color: white;
  color: #440047;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.link {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
}

.or {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0;
}

.link a {
  color: #440047;
}

.email {
  text-align: center;
  font-size: 16px;
  color: #440047;
}

.email a {
  color: #440047;
}

div.container {
  display: inline-block;
}

p {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

body.links-page {
  padding-top: 20vh;
}